/node_modules
/public/hot
/public/storage
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
*.bat
composer.lock
/storage
/public/js
/public/css
/public/fonts
/public/img
/bootstrap/cache
vt
vu
